.chat-container{
   height: 80vh;
   width: 100vw;
 }
 .chat{
   text-align: left;
   margin: 0 auto;
   width: 50%;
   height: 100%;
   border: 1px solid grey;
 }
 
 .chatfooter{
   background: #cccccc;
   margin: 0 auto;
   position: absolute;
   bottom: 0;
   height: 10vh;
   width: 100vw;
 }
 .send-button{
   margin: 0 auto;
   height: 70%;
   width: 50%;
 }
 input{
   float: right;
   height: 30px;
   border-radius: 15px;
   font-size: 1.5em;
 }
 .send{
   float: right;
   background: url("../../../assets/img/send.png");
   background-size: contain;
   background-repeat: no-repeat;
   height: 30px;
   width: 30px;
   margin-left: 5px;
 
 }

 /**
* Oscuro: #283035
* Azul: #03658c
* Detalle: #c7cacb
* Fondo: #dee1e3
----------------------------------*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  }
  
  a {
  color: #03658c;
  text-decoration: none;
  }
  
  ul {
  list-style-type: none;
  }
  
  body {
  font-family: 'Roboto', Arial, Helvetica, Sans-serif, Verdana;
  background: #dee1e3;
  }
  
  /** ====================
  * Lista de Comentarios
  =======================*/
  .comments-container {
  margin: 60px auto 15px;
  width: 768px;
  }
  