<div class="header bg-gradient-danger py-7 py-lg-8">
  <div class="container">
    <div class="header-body text-center mb-7">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-6">
          <h1 class="text-white">Welcome to ACM CLUB ! Glad to have you among us</h1>
          <p class="text-lead text-light">You have to sign up to use our platform to the full.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="separator separator-bottom separator-skew zindex-100">
    <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
      <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
</div>
<!-- Page content -->
<div class="container mt--8 pb-5">
  <!-- Table -->
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8">
      <div class="card bg-secondary shadow border-0">
        <!--
          <div class="card-header bg-transparent pb-5">
          <div class="text-muted text-center mt-2 mb-4"><small>Sign up with</small></div>
          <div class="text-center">
            <a href="javascript:void(0)" class="btn btn-neutral btn-icon mr-4">
              <span class="btn-inner--icon"><img src="assets/img/icons/common/github.svg"></span>
              <span class="btn-inner--text">Github</span>
            </a>
            <a href="javascript:void(0)" class="btn btn-neutral btn-icon">
              <span class="btn-inner--icon"><img src="assets/img/icons/common/google.svg"></span>
              <span class="btn-inner--text">Google</span>
            </a>
          </div>
        </div>
       -->
        <div class="card-body px-lg-5 py-lg-5">
          <div class="text-center text-muted mb-4">
            <!--
                <small>Or sign up with credentials</small>
            -->
            <small>Sign up</small>
          </div>
          <form role="form" name="form" #userForm="ngForm" (ngSubmit)="userForm.form.valid && onSubmit()">
            <div class="form-group">
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                </div>
                <input class="form-control" placeholder="Name" type="text" name="name" required minlength="6"
                  maxlength="20" [(ngModel)]="form.name" #name="ngModel">
              </div>
              <div class="alert-danger" *ngIf="name.touched && name.invalid">
                <div *ngIf="name.errors.required">Name is required</div>
                <div *ngIf="name.errors.minlength">
                  Name must be at least 6 characters
                </div>
                <div *ngIf="name.errors.maxlength">
                  Username must be at most 20 characters
                </div>
              </div>

            </div>
            <div class="form-group">
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-single-02"></i></span>
                </div>
                <input class="form-control" placeholder="UserName" type="text" name="username"
                  [(ngModel)]="form.username" required minlength="6" maxlength="20" #username="ngModel">
              </div>
              <div class="alert-danger" *ngIf="username.touched && username.invalid">
                <div *ngIf="username.errors.required">Username is required</div>
                <div *ngIf="username.errors.minlength">
                  Username must be at least 6 characters
                </div>
                <div *ngIf="username.errors.maxlength">
                  Username must be at most 20 characters
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                </div>
                <input class="form-control" placeholder="Email" type="email" name="email" [(ngModel)]="form.email"
                  required email #email="ngModel">
              </div>
              <div class="alert-danger" *ngIf="email.touched && email.invalid">
                <div *ngIf="email.errors.required">Email is required</div>
                <div *ngIf="email.errors.email">
                  Email must be a valid email address
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-key-25"></i></span>
                </div>
                <input class="form-control" placeholder="Serial Key" type="number" name="key" [(ngModel)]="form.key"
                  required #key="ngModel">
              </div>
              <div class="alert-danger" *ngIf="key.touched && key.invalid">
                <div *ngIf="key.errors.required">Key is required</div>
                
              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                </div>
                <input class="form-control" placeholder="Password" type="password" name="password" required
                  minlength="10" [(ngModel)]="form.password" #password="ngModel">
              </div>
              <div class="alert-danger" *ngIf="password.touched && password.invalid">
                <div *ngIf="password.errors.required">Password is required</div>
                <div *ngIf="password.errors.minlength">
                  Password must be at least 6 characters
                </div>
              </div>
            </div>
            <div class="text-muted font-italic"><small>password strength: <span
                  class="text-success font-weight-700">strong</span></small></div>
            <div class="row my-4">
              <div class="col-12">
                <div class="custom-control custom-control-alternative custom-checkbox">
                  <input class="custom-control-input" id="customCheckRegister" type="checkbox">
                  <label class="custom-control-label" for="customCheckRegister">
                    <span class="text-muted">I agree with the <a href="#!">Privacy Policy</a></span>
                  </label>
                </div>
              </div>
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-primary mt-4" [disabled]="userForm.status!='VALID' || isSuccessful">
                Create account</button>
            </div>
            <div class="row my-4">
              <div class="col-12">
                <div class="alert alert-success" *ngIf="userForm.submitted && isSuccessful">
                  Sign Up succeeded !<br />
                </div>
                <div class="alert alert-warning" *ngIf="userForm.submitted && isSignUpFailed">
                  Signup failed!<br />{{ errorMessage }}
                </div>
                
              </div>

            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>